body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #ee3643;
}

.button:hover,
.button:focus
{
    background-color: #ca2c37;
}

.button:active
{
    background-color: #ba2732;
}

.header {
    color: #000;

    background-color: #f4f7f9;
}

.header-top
{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.search-form input {
    border: none;
    background-color: #293449;
}

.search-form input:focus {
    border: none;
    color: #000;
    background-color: #fff;
}

.header-top a
{
    color: #ffffff;

    background-color: #293449;
}

.header-top a:active
{
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

a.header-top-logo
{
    background-color: #ee3643;
}

a.header-top-logo:hover,
a.header-top-logo:active
{
    background-color: #ca2c37;
}

a.header-top-order {
    color: #ffffff;

    background-color: #63a63e;
}

a.header-top-order:hover {
    color: #ffffff;

    background-color: #5fbb2d;
}

a.header-top-order:active {
    color: #ffffff;

    background-color: #518534;
}


a.header-top-basket.filled {
    color: #ffffff;

    background-color: #ee3643;
}

.header h1
{
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;

    background-color: #f4f7f9;
}

p.header-contacts-tel
{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #ee3643;

}

p.header-contacts-address
{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.header-user-navigation-button
{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;

    background-color: #ffffff;
}

.header-user-navigation-button-login:hover,
.header-user-navigation-button-sign-up:hover
.header-user-navigation-button-login:focus,
.header-user-navigation-button-sign-up:focus
{
    color: #ee3643;
}

.header-user-navigation-button:active
{
    color: rgba(0, 0, 0, 0.3);
}

.header-user-navigation-my-orders,
.header-user-navigation-personal-area
{
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.header-user-navigation-my-orders:hover,
.header-user-navigation-my-orders:focus,
.header-user-navigation-personal-area:hover,
.header-user-navigation-personal-area:focus
{
    color: #ee3643;
}

.header-user-navigation-my-orders:active
{
    color: rgba(50, 66, 92, 0.3);
}

.header-user-navigation-personal-area:active
{
    display: none;
}

nav.main-navigation
{
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #293449;
}

ul.site-navigation
{
    list-style: none;
}

.site-navigation a
{
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus
{
    color: #ffffff;

    background-color: #32425c;
}

.site-navigation a:active
{
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.breadcrumbs
{
    list-style: none;
}

.breadcrumbs a
{
    color: #000000;
}

.breadcrumbs li
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.inner-page h2
{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.filter-form fieldset
{
    border: none;
}

.filter-item-title
{
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-options-list
{
    list-style: none;
}

.filter-option label
{
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-form-submit-button
{
    color:#000000;

    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.sorting-list
{
    list-style: none;
}

.catalog-list
{
    list-style: none;
}

.catalog-item
{
    border: 1px solid #e5e5e5;
}

.catalog-item h4 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.catalog-item h4 a {
    color: #000000;
}

.catalog-item-image {
    text-align: center;
}


.catalog-item-old-price
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
    vertical-align: middle;
    color: #999999;
}

.catalog-item-new-price
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.buy-button
{
    color: #fff;

    background-color: #63a63e;
}

.buy-button:hover,
.buy-button:focus
{
    background-color: #5fbb2d;
}

.buy-button:active
{
    color: #fff;

    background-color: #518534;
}

.favorite-button
{
    color: #32425c;

    background-color: #fff;
    border: 3px solid #63a63e;
}

.favorite-button:hover,
.favorite-button:focus
{
    border: 3px solid #32425c;
    background-color: #fff;
}

.favorite-button:active
{
    color: rgba(50, 66, 92, 0.3);
    border: 3px solid rgba(50, 66, 92, 0.3);
    background-color: #fff;
}

.index-columns h2
{
    font-size: 30px;
    line-height: 30px;

    text-transform: uppercase;
}

.index-columns p
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

ul.transport-companies-list
{
    list-style: none;
}

ul.transport-companies-list li {
    font-size: 18px;
    line-height: 20px;
}

.footer {
    color: #ffffff;

    background-color: #32425c;
}

a.footer-logo
{
    background-color: #ee3643;
}

a.footer-logo:hover,
a.footer-logo:active
{
    background-color: #ca2c37;
}

.footer-contacts
{
    font-size: 18px;
    line-height: 24px;
    font-style: normal;

    color: #f3f7f9;
}

.footer-navigation {
    list-style: none;
}

.footer-navigation a {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-navigation a.colored
{
    color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus
{
    text-decoration: underline;
}

.footer-navigation a:active
{
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-navigation a.colored:active
{
    color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
    color: #ffffff;

    background-color: #293449;
}

.footer-bottom-copyright {
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom-social {
    list-style: none;
}

.footer-bottom-social a {
    color: #ffffff;

    background-color: #212a3a;
}

.footer-bottom-social a:hover,
.footer-bottom-social a:focus,
.footer-bottom-social a:active
{
    background-color: #ee3643;
}

.footer-bottom-feedback,
.footer-bottom-developer
{
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom-feedback-mail a,
.footer-bottom-developer a {
    color: #ffd180;
}

.footer-bottom-feedback-mail a:hover,
.footer-bottom-feedback-mail a:focus
.footer-bottom-developer a:hover,
.footer-bottom-developer a:focus
{
    text-decoration: underline;
}

.footer-bottom-feedback-mail a:active,
.footer-bottom-developer a:active
{
    color: #ee3643;
    text-decoration: none;
}

.modal {
    display: none;
}
