body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.header {
    color: #000;

    background-color: #f4f7f9;
}

.header-top,
.main-navigation
{
    color: #ffffff;

    background-color: #293449;
}

.header-top a
{
    color: #ffffff;
}

.site-navigation a,
.header-user-navigation a
{
    color: #000000;
}


.site-navigation,
.promo-small-items-list,
.bestsellers-list,
.popular-manufacturers-list,
.services-list,
.transport-companies-list,
.footer-navigation,
.footer-bottom-social,
.breadcrumbs,
.filter-options-list,
.sort-by-list,
.catalog-list,
.pagination-list {
    list-style: none;
}


.promo-big-item a,
.promo-small-item a,
.popular a,
.services a,
.company-info a,
.contacts a {
    color: #000000;
}











.footer {
    color: #ffffff;

    background-color: #32425c;
}


.footer-bottom {
    color: #ffffff;

    background-color: #293449;
}

.footer-navigation a,
.footer-bottom-social a {
    color: #ffffff;
}

.footer-bottom-feedback-mail,
.footer-bottom-developer a {
    color: #ffd180;
}





.modal {
    display: none;
}









































