body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}



















.site-navigation,
.promo-small-items-list,
.bestsellers-list,
.popular-manufacturers-list,
.services-list,
.transport-companies-list,
.footer-navigation,
.footer-bottom-social,
.breadcrumbs,
.filter-options-list,
.sort-by-list,
.catalog-list,
.pagination-list {
    list-style: none;
}

.header-top a,
.footer-navigation a,
.footer-bottom-social a {
    color: #ffffff;
}

.site-navigation a,
.header-user-navigation a,
.promo-big-item a,
.promo-small-item a,
.popular a,
.services a,
.company-info a,
.contacts a {
    color: #000000;
}

.footer-bottom-feedback-mail,
.footer-bottom-developer a {
    color: #ffd180;
}



.footer {
    background-color: #32425c;
}

.header-top,
.footer-bottom {
    background-color: #293449;
}



.modal {
    display: none;
}











































